<h1>Tickets</h1>

<% @tickets.each do |t| %>
  <h2><%= t.project.name %></h2>

  <div>
    <ul>

      <li>
        <h3>Ticket: <%= t.title %></h3>
        <p>
          <%= t.description %>
        </p>
      </li>
    </ul>

  </div>
<% end %>
